[[extend 'layout.html']]

<section class = "section">

    <!-- Nav-bar Section -->
    <div class = "notification is-link">
        <div class = "level">   
            <div class = "level-left"> 
                    <img src="[[=URL('static','images/logo.png')]]" width = "300">
            </div>
        
            <div class = "level-right"> 
                <p class = "has-text-white">
                    January 8, 2012
                </p>
            </div>
        
        </div>
    </div>
</section>

<!-- Column Section -->
<section class = "section">

    <div class = "columns"> 

        <!-- Left Column -->
        <div class = "column is-two-thirds">
    
            <div class = "title">
                Mountain Lion Sighted on Campus
            </div>
        
            <div class = "subtitle">
                Claims to be interested in web development
            </div>
    
            <div class = columns>

                <!-- Left-side Left Column -->
                <div class = "column">
                
               
                    <div class = "box">
                        <img src="[[=URL('static','images/lion-layers-2.svg')]]">
        
                        <p class = "has-text-weight-bold">
                            A lion has been seen roaming the empty library.
                        </p>
                    </div>
        
                    <p>
                        A lion has been seen roaming the empty science library on campus. The police, noticing the intrusion, 
                        approached the lion and asked what was his business there. The lion replied that he was attempting to 
                        learn web development, and that he found the programming portions rather interesting, but the task of 
                        laying out web page most frustrating.
                    </p>
        
                </div>
                
                <!-- Right-side Left Column -->
                <div class = "column">
                    <p>
                        <span class = "is-italic"> 
                            "It is truly disappointing! Great minds, such as Don Knuth and Leslie Lamport, devoted their time to 
                            improving the art of typography and the science of optimizing the presentation of content on a page, 
                            and then here come like a band of savages these web developers, oblivious to the great work of the past, 
                            with this completely inane and baroque language!"</span>.
                    </p> 
                    
                    <p>
                        He continued, 
                        <span class = "is-italic">
                            "First they invented a lot of tags. Then they fell out of love for them, and decided it's 
                            cooler to do things using the same few tags all over the place, decorating them with yet another language 
                            called CSS (the name at least it reminds me of my feeling towards it, for I know latin). So now you need two 
                            languages to get one thing accomplished! And the whole thing is so complex that to lay down something with a 
                            few columns on a page, you practically need a university degree! And look! It cannot even balance the content 
                            on these two colums, for goodness sake!"
                        </span> 
                        The police thought it better to leave the lion alone, as he looked quite ready to bite anyone who came close.
                    </p>
                    
                </div>
            </div>
    
        </div>
        
        <!-- Right Column -->
        <div class = "column">
            <div class = "title">
                Professor de Alfaro Claims Break-Through in Graphics
            </div>
            <div class = "subtitle">
                A new, very efficient algorithm enables fast scene rendering
            </div>
            <p>
                <span class = "is-italic">Ray-tracing</span> is a technique for scene rendering in which the light rays that fall into an observer's eyes are retraced, 
                so to say, in the reverse direction, to reconstruct exactly what the view would have been. This is a daunting process, 
                because when encoutering solid bodies, light is scattered, and so the ray tracing must chase the many possible backwards 
                paths of such scattering. Professor de Alfaro recently claimed to have invented a new, far more efficient algorithm, one that 
                works in microseconds regardless of the dimension or complexity of the scene. 
                <span class = "is-italic">"There are a few restrictions,"</span> he added, 
                <span class = "is-italic">"and for the moment our new technique is applicable only to closed environments in which the integral of the luminous flux is zero across 
                any closed surface."</span> The contribution is currently undergoing peer review.
            </p>
        </div>
    
    </div>
</section>


<!-- Tile Section -->
<section class = "section">
    <div class = "tile is-ancestor">

        <!-- Left-side vertical tile -->
        <div class = "tile is-4 is-vertical is-parent">

            <!-- Child tile -->
            <div class = "tile notification has-background-primary is-child">
                <p class = "has-text-white">
                    Ad1
                </p>
            </div>

            <!-- Child tile -->
            <div class = "tile notification has-background-warning is-child">
                <p>Ad2</p>
            </div>

        </div>

        <!-- Right-side vertical tile -->
        <div class = "tile is-vertical">

            <!-- Top of vertical tile -->
            <div class = "tile">

                <!-- Vertical tile in top tile -->
                <div class = "tile is-vertical is-parent">
                    
                    <!-- Child tile -->
                    <div class = "tile notification has-background-info is-child">
                        <p class = "has-text-white">
                            Ad3
                        </p>
                    </div>
                    
                    <!-- Child tile -->
                    <div class = "tile notification has-background-info is-child">
                        <p class = "has-text-white">
                            Ad4
                        </p>
                    </div>
                </div>
                
                <!-- Tile in top tile -->
                <div class = "tile is-parent">
                    <div class = "tile notification has-background-success is-child">
                        <p class = "has-text-white">
                            Ad5
                        </p>
                    </div>
                </div>
            </div>
            
            <!-- Bottom of vertical tile -->
            <div class = "tile is-parent">

                <!-- Child tile -->
                <div class = "tile notification has-background-danger is-child">
                    <p class = "has-text-white">
                        Ad6
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>



